<h1>Notes App</h1>
<p-menubar [model]="items"></p-menubar>
<p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]">
    <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
            <li
              *ngFor="let note of notes"
              style="cursor: pointer"
              (click)="editNotes(note)"
            >
              {{ note.title }}
            </li>
          </div>
    </ng-template>
    <ng-template pTemplate >
        <div class="p-col p-d-flex p-ai-center p-jc-center" *ngIf="selectedNote">
            <span style="font-weight: bold">{{ selectedNote.title }}</span>
            <br /><br />
            {{ selectedNote.note }}
        </div>
    </ng-template>
</p-splitter>
